body{
    height: 100vh;
    background: url(starter-code/assets/crew/background-crew-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
a{
    text-decoration: none;
    color: white;
}


.navbar {
  background: rgba(255, 255, 255, 0.05); 
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px); 
  color: white;
  width: 750px;
  text-align: center;
  height: 50px;

  

}


.nav-links{
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;

}

.line{
    background-color: silver;
    height: 2px ;
    width: 1000px;
    margin-left: 100px;
    position: absolute;
    z-index: 99;

    
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 150px;
    padding-left: 150px;
    padding-right: 150px;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.img1{
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-left: 40px;
}