body{
    height: 100vh;
    background: url(starter-code/assets/technology/background-technology-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
a{
    text-decoration: none;
    color: white;
}

.navbar {
  background: rgba(255, 255, 255, 0.05); 
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px); 
  color: white;
  width: 750px;
  text-align: center;
  height: 50px;

  

}


.nav-links{
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;

}

.line{
    background-color: silver;
    height: 2px ;
    width: 1000px;
    margin-left: 100px;
    position: absolute;
    z-index: 99;

    
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 150px;
    padding-left: 150px;
    padding-right: 150px;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.img1{
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-left: 40px;
}
.nav-item:hover{
    text-decoration: underline;
    

}
.middle{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 300px;
    
}
.p2{
     color: rgba(255, 255, 255, 0.616);
}
.p4{
    color: white;
}
.div2{
    gap: 10px;
    margin-bottom: 100px;
}
.p5{
     color: rgba(255, 255, 255, 0.616);
}
h2{
    color: white;
}
h3{
     color: rgba(255, 255, 255, 0.616);
}

.b1{
    color: black;
    height: 70px;
    width: 70px;
    cursor: pointer;
    border-radius: 45px;
}
.b2{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    height: 70px;
    width: 70px;
    cursor: pointer;
    border-radius: 45px;
}
.b3{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    height: 70px;
    width: 70px;
    cursor: pointer;
    border-radius: 45px;
}

.something{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ss{
    display: flex;
    gap: 10px;
}

.sss{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 200px;
}
.img2{
    margin-top: 200px;
    height: 600px;
    width: 500px;
}
